@model Group

@{
    ViewData["Title"] = "Delete";
}

<h3 class="m-4">Удаление</h3>

<h4 class="m-3">Вы действительно хотите удалить этот элемент?</h4>
<div>
    
    <hr />
    <dl class="row m-1">
        <dt class="col-sm-3">
            <label asp-for="GroupName" class="control-label">Наименование группы</label>            
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GroupName)
        </dd>
        <dt class="col-sm-3">
            <label asp-for="Description" class="control-label">Наименование описания</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-3">
            <label asp-for="RecordDateTimeStamp" class="control-label">Дата создания</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecordDateTimeStamp)
        </dd>
    </dl>

    <form asp-action="Delete" class="m-3">
        <input type="hidden" asp-for="GroupId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться назад</a>
    </form>
</div>
