<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StoreApp</title>

    @*<link asp-href-include="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />*@

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">

</head>
<body>
    <div class="text-right">
        Добро пожаловать
        <label>@ViewBag.sessionUserName</label>

        <a class="text-right m-4" href="~/Account/logout">Выход</a>
    </div>


    <div>
        @RenderBody()
    </div>


 

</body>
</html>


<script src="~/lib/jquery/dist/jquery.js"></script><!--подключение jquery-->
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
@*<script src="~/js/site.js" asp-append-version="true"></script>*@
@RenderSection("Scripts", required: false)