@{
    Layout = "_LayoutAccount";
}
@model StoreApp.ViewModels.RegisterModel

<h2 class="m-4">Регистрация</h2>

<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true" class="m-4">

    <div class="w-auto">
        <div class="form-group">
            <label asp-for="UserName">Введите имя</label><br />
            <input type="text" asp-for="UserName" />
            <span asp-validation-for="UserName" />
        </div>
        <div class="form-group">
            <label asp-for="UserLogin">Введите логин</label><br />
            <input type="text" asp-for="UserLogin" />
            <span asp-validation-for="UserLogin" />
        </div>
        <div class="form-group">
            <label asp-for="Email">Введите email</label><br />
            <input type="text" asp-for="Email" />
            <span asp-validation-for="Email" />
        </div>
        <div class="form-group">
            <label asp-for="Password">Введите пароль</label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword">Повторите пароль</label><br />
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" />
        </div>
        <div class="validation" asp-validation-summary="ModelOnly"></div>
    </div>
   
    <div class="form-group">
        <input type="submit" value="Зарегистрироваться" class="btn btn-primary" />
    </div>
</form>

@section Scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/src/jquery.validate.unobtrusive.js"></script>
}