@{ 
    Layout = "_LayoutAccount";
}
@model StoreApp.ViewModels.RegisterModel

<h2 class="m-4">Регистрация</h2>

<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true" class="m-4" >
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div class="form-group">
            <label asp-for="Email">Введите Email</label><br />
            <input width="150" type="text" asp-for="Email" />
            <span asp-validation-for="Email" />
        </div>
        <div class="form-group">
            <label asp-for="Password">Введите пароль</label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword">Повторите пароль</label><br />
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" />
        </div>
        
        <div class="form-group">
            <input type="submit" value="Зарегистрироваться" class="btn btn-primary" />
        </div>
    </div>
</form>